In [1]:
import mysql.connector as mariadb

Open the database connectin using the connect method.
*since we are opening somethin... what else might we need to do?
*hint: close

We are using the print statemnt as a reminder when we run our script that we are making a db connection & because we are using a simple to make sure our code runs to that point in our file

In [2]:
con=mariadb.connect(#assign connection to a variable con
    host= "localhost",
    user= "root",
    password= "Pass1234",
    database= "classicmodels" #name of database we want to connect to
)
#above is opening connection
#connection object con variable

print("Connecting to MariaDB Database")

Connecting to MariaDB Database

Let's check and see if we actually made a connection. To do this we need to create a cursor.
We do this by calling the cursor method.

In [9]:
cur= con.cursor()

st= "SELECT productLine, COUNT(*) \
    FROM products \
    WHERE productLine= '{}'"

cur.execute(st.format('Motorcycles'))
#use cursor to execute sql statements

#.execute()- talks to the database
#cursor object made by calling cursor()

In the cell above we created and executed our sql statment. But we have not used any methods to actually access this data from out select statment.

In [11]:
result= cur.fetchall()
#store cur.fetchall to result variable
print(result)
#unpack
#.fethcall()- give us a list object, list of tuples

con.close()

[]

That worked great! Let's make a new database without using th GUI or mysql shell.
-Notice we are not connecting to a specific database when we make the connection
-NOTE: strings can be passed directly into the execute method, detemin which way works best for each individual situation

In [12]:
con=mariadb.connect(
    host= "localhost",
    user= "root",
    password= "Pass1234"
)

print("Connecting to MariaDB Database...")

cur=con.cursor()

st= "CREATE DATABASE test_db"

cur.execute(st)

print("test_db created")

con.close()

Connecting to MariaDB Database...
test_db created

Add a table to the test_db database that we created above

In [14]:
con=mariadb.connect(
    host= "localhost",
    user= "root",
    password= "Pass1234",
    database= "test_db"
)

print("Connecting to Maria DB Database...")

cur=con.cursor()

st= "CREATE TABLE Registration \
    (id INTEGER, age INTEGER, \
    first VARCHAR(50), last VARCHAR(100))"

cur.execute(st)

print("Registration Table is created")

Connecting to Maria DB Database...

ProgrammingError: 1050 (42S01): Table 'registration' already exists

Insert data into our newly created Registration Table
*Reminder*
DDL(Daata Definition Language)- Create, Drop, Alter (no commit)
DQL(Data Query Language)- SELECT (no commit)
DML(Data Manipulation Language)- INSERT, UPDATE, DELETE (have to use commit)

In [15]:
con=mariadb.connect(
    host= "localhost",
    user= "root",
    password= "Pass1234",
    database= "test_db"
)

print("Connecting to Maria DB Database...")

cur=con.cursor()

st="INSERT INTO Registration \
    (id, age, first, last) VALUES \
    (100, 29, 'Michael', 'Jordan'), \
    (101, 29, 'Diego', 'Maradona'), \
    (102, 33, 'Babe', 'Ruth'), \
    (103, 40, 'Wayne', 'Gretzky'), \
    (104, 27, 'Michelle', 'Kwan'), \
    (105, 35, 'Steffi', 'Graf')"

cur.execute(st)
con.commit()

print("Values are inserted")

con.close()

Connecting to Maria DB Database...
Values are inserted

Let's check how to see our values without using a GIU.
We are using a different method here to access the values instead of the .fetchall() method.

In [16]:
con=mariadb.connect(
    host= "localhost",
    user= "root",
    password= "Pass1234",
    database= "test_db"
)

print("Connecting to Maria DB Database...")

cur=con.cursor()

st ="SELECT * FROM Registration"

cur.execute(st)

#result= cur.fetchall()
#print(result)
#returns list of tuples

for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}". format(r[0], r[1], r[2], r[3]))

con.close()

Connecting to Maria DB Database...
ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 101, AGE: 29, FIRST: Diego, LAST: Maradona
ID: 102, AGE: 33, FIRST: Babe, LAST: Ruth
ID: 103, AGE: 40, FIRST: Wayne, LAST: Gretzky
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan
ID: 105, AGE: 35, FIRST: Steffi, LAST: Graf

Query with LIKE Operator

In [17]:
con=mariadb.connect(
    host= "localhost",
    user= "root",
    password= "Pass1234",
    database= "test_db"
)

print("Connecting to Maria DB Database...")

cur=con.cursor()

st ="SELECT * FROM Registration WHERE first LIKE '%ich%'"
#%ich%- taking anythin before and after ich

cur.execute(st)

for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}". format(r[0], r[1], r[2], r[3]))

con.close()

Connecting to Maria DB Database...
ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan

UPDATE Example:
*Update is part of DML so we want to use the commit methof on out connections

In [18]:
con=mariadb.connect(
    host= "localhost",
    user= "root",
    password= "Pass1234",
    database= "test_db"
)

print("Connecting to Maria DB Database...")

cur=con.cursor()

st= "UPDATE Registration \
    SET age= 30 WHERE id "

cur.execute(st)
con.commit()
print("Values are updated")

con.close()

Connecting to Maria DB Database...
Values are updated

Let's check if the change was made

In [19]:
con=mariadb.connect(
    host= "localhost",
    user= "root",
    password= "Pass1234",
    database= "test_db"
)

print("Connecting to Maria DB Database...")

cur=con.cursor()

st ="SELECT * FROM Registration"

cur.execute(st)

#result= cur.fetchall()
#print(result)
#returns list of tuples

for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}". format(r[0], r[1], r[2], r[3]))

con.close()

Connecting to Maria DB Database...
ID: 100, AGE: 30, FIRST: Michael, LAST: Jordan
ID: 101, AGE: 30, FIRST: Diego, LAST: Maradona
ID: 102, AGE: 30, FIRST: Babe, LAST: Ruth
ID: 103, AGE: 30, FIRST: Wayne, LAST: Gretzky
ID: 104, AGE: 30, FIRST: Michelle, LAST: Kwan
ID: 105, AGE: 30, FIRST: Steffi, LAST: Graf

Example of using SQL actions with try and except block

In [21]:
try:
    con=mariadb.connect(
        user= "root",
        password= "Pass1234",
        database="wrong_db"
    )

    print("Connected to MariaDB...")

    con.close()
except mariadb.Error as e:
    print(e)

1049 (42000): Unknown database 'wrong_db'