In [1]:
import mysql.connector as mariadb

open the database connection using the connect method.
*since we are opening something... what else might we have to do?
*hint:close


We are using the print statement as a reminder when we ran our script that we are making a db connect

In [2]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="Pass1234",
    database="classicmodels"
)

print("Connecting to MariaDB Database...")

Connecting to MariaDB Database...

LEt's check and see if we actually made a connection. To do this we need to create a cursor.
We do this by calling the cursor method

In [3]:
cur=con.cursor()

st= "SELECT productLine, COUNT(*) \
    FROM products \
    WHERE productLine= '{}'"

cur.execute(st.format('Motorcycles'))

In the cell above we created and executed our sql statements. But we have not used any methods to actually access this data from our select statments.

In [5]:
result= cur.fetchall()
print(result)

con.close()

[]

That worked grat! Let's male a new database without using the GUI or mysql shell.
-Notice that we are not connectiong to a specific database when we make the connection
-NOTE: strings can be passed directely intp the execute method, detemine which wat works best for each individual situation

In [7]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="Pass1234",
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st="CREATE DATABASE test_db"

cur.execute(st)
#cur.execute("CREATE DATABASE test_db")

print("test_db created")

con.close()

Connecting to MariaDB Database...
test_db created

Add a table to the test_db database that we just created.

In [8]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="Pass1234",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st= "CREATE TABLE Registration \
    (id INTEGER, age INTEGER, \
    first VARCHAR(50), last VARCHAR(50))"

cur.execute(st)

print("Registration Table is created")

con.close()

Connecting to MariaDB Database...
Registration Table is created

Insert data into our newly created Registration Table.
*Reminder*
DDL(Data Definintion Language)- Create, Drop, Alter
DQL(Data Query Language)- SELECT
DML(Data MAnaipulation Language)- INSERT, UPDATE DELETE

In [9]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="Pass1234",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st="INSERT INTO Registration \
    (id, age, first, last) VALUES \
    (100, 29, 'Michael', 'Jordan'), \
    (101, 29, 'Diego', 'Maradona'), \
    (102, 33, 'Babe', 'Ruth'), \
    (103, 40, 'Wayne', 'Gretzky'), \
    (104, 27, 'Michelle', 'Kwan'), \
    (105, 35, 'Steffi', 'Graf')"

cur.execute(st)
con.commit()

print("Values are inserted")

con.close()

Connecting to MariaDB Database...
Values are inserted

LEt's check how to see our values, without using a GUI.
We are using a different method here to access the values instead of the .fetchall() method

In [12]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="Pass1234",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st= "SELECT * FROM Registration"

cur.execute(st)

#result = cur.fetchall()
#print(result)
for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))

con.close()

Connecting to MariaDB Database...
ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 101, AGE: 29, FIRST: Diego, LAST: Maradona
ID: 102, AGE: 33, FIRST: Babe, LAST: Ruth
ID: 103, AGE: 40, FIRST: Wayne, LAST: Gretzky
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan
ID: 105, AGE: 35, FIRST: Steffi, LAST: Graf

In [13]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="Pass1234",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st= "SELECT * FROM Registration WHERE first LKE '%ich%'"

cur.execute(st)

#result = cur.fetchall()
#print(result)
for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))

con.close()

Connecting to MariaDB Database...

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'LKE '%ich%'' at line 1

In [ ]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="Pass1234",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur.con.cursor()

st="UPDATE Registration \
    SET age=30 WHERE id IN (100,101)"

cur.execute(st)
con.commit()
print()

In [ ]:
try:
    con= mariadb.connect(
        user= "root",
        password="Pass1234",
        database="wrong_db"

    )

    print("Connect to MariaDB...")
    con.close()